<a href="https://colab.research.google.com/github/Hafidddddddd/ict_assignments/blob/main/assignment01_hafid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSIGIGNMENT 01

1. Grocery Billing

In [30]:
 item1_price = int(input("item1 price:"))
item1_quantity = int(input("item1 quantity:"))
item2_price = int(input("item2 price:"))
item2_quantity = int(input("item2 quantity:"))
total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)
print("total bill is:", total_bill)

item1 price:45
item1 quantity:3
item2 price:30
item2 quantity:2
total bill is: 195

2. Temperature Conversion

In [31]:
c = float(input("Enter temperature in Celsius:"))
fahrenheit = (c * 9/5)+32
print(fahrenheit)

Enter temperature in Celsius:30
86.0

3. Salary Slip

In [32]:
basic_salary = float(input("Enter basic salary: "))
hra = basic_salary * 0.20
da = basic_salary * 0.10
total_salary = basic_salary + hra + da
print("Total salary:", total_salary)

Enter basic salary: 20000
Total salary: 26000.0

4. Simple Interest

In [5]:
p = float(input("Enter principle amount:"))
r = float(input("Enter rate of interest:"))
t = float(input("Enter time in years:"))
simple_interest = (p * r * t)/100
print("simple_interest:", simple_interest)

Enter principle amount:10000
Enter rate of interest:5
Enter time in years:2
simple_interest: 1000.0

5. Time Conversion

In [9]:
total_minutes = int(input("Enter total minutes:"))
h = total_minutes // 60
m = total_minutes % 60
print("Hours:", h)
print("Minutes:", m)

Enter total minutes:130
Hours: 2
Minutes: 10

6. BMI Calculator

In [13]:
w = float(input("Enter weight in kg:"))
h = float(input("Enter height in meters:"))
bmi = w /(h*h)
print("BMI:", bmi)

Enter weight in kg:60
Enter height in meters:1.65
BMI: 22.03856749311295

7. Discount Calculation

In [18]:
original_price = float(input("Enter original price:"))
dp = float(input("Enter discount percentage:"))
dm = original_price * (dp/100)
ndp = original_price - dm
print("discounted_amount:", dm)
print("new_discounted_price:", ndp)

Enter original price:1200
Enter discount percentage:10
discounted_amount: 120.0
new_discounted_price: 1080.0

8. Area of a Triangle (Using Heronâ€™s Formula)

In [27]:
import math
A = int(input("Enter side A:"))
B = int(input("Enter side B:"))
C = int(input("Enter side C:"))
S = (A+B+C)/2
area = math.sqrt(S*(S-A)*(S-B)*(S-C))
print("area:", area)

Enter side A:5
Enter side B:6
Enter side C:7
area: 14.696938456699069

9. Paint Cost Estimator

In [28]:
l = int(input("Enter wall length:"))
h = int(input("Enter wall height:"))
t = l*h
w = 2*(1.5*1.2)
p = t-w
print("Total area painted:", p)
c = p*25
print("total cost", c)

Enter wall length:12
Enter wall height:8
Total area painted: 92.4
total cost 2310.0

10. Electricity Bill Calculator

In [29]:
rate_per_unit = 5.2
fixed_charge = 100
number_of_units = int(input("Enter number of units consumed:"))
total_bill = (rate_per_unit * number_of_units) + fixed_charge
print("total_bill:", total_bill)

Enter number of units consumed:250
total_bill: 1400.0